body {
  height: 100%;
  font-weight: bold !important;
  font-family: var(--roboto-font);
}

body[data-theme="light"] {
  background: linear-gradient(
    180deg,
    rgba(254, 0, 114, 1) 0%,
    rgba(107, 80, 120, 1) 100%
  );
}

body[data-theme="dark"] {
  /* background: linear-gradient(180deg, rgba(33,0,15,1) 0%, rgba(27,23,28,1) 100%); */
  background: black;
}

.menu-toggle {
  /* Hide by default on larger screens */
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
  z-index: 1000;
  width: 45px;
  height: 45px;
  background-color: aliceblue;
  border-radius: 50%; /* Make it circular */
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  padding: 12px; /* Add some padding for spacing */
  box-sizing: border-box; /* Include border in sizing */
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  transition: all 0.5s ease 0s;
}

.bar {
  width: 100%;
  height: 2px;
  background-color: black;
}

/* Styling for the expanded menu */
.menu-toggle.open .bar {
  background-color: #fe1d5c;
}

.menu-content {
  position: absolute;
  top: 62px;
  right: 20px;
  background-color: #fff;
  border: 2px solid black;
  padding: 5px 20px;
  z-index: 1001;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 250px;
  font-family: Arial, sans-serif;
  transition: all 0.5s ease 0s;
}

.menu-toggle:hover {
  transform: scale(1.2);
}

.menu-content h3 {
  margin: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #ccc;
}

.menu-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.menu-content a {
  padding: 8px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  transition: all 0.3s ease 0s;
}

.menu-content a:hover {
  color: #fe1d5c;
}

.menu-content a:last-child {
  border-bottom: none;
}

.menu-content a svg {
  margin-right: 10px;
  fill: #333;
}

.menu-content svg {
  width: 20px;
  height: 20px;
  fill: #333;
  margin-left: auto;
  margin-right: 0;
  /* Adjust this to add space between text and icon */
}

.darkmode-button {
  background: transparent;
  border: none;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  width: 47px;
  height: 47px;
  position: absolute;
  top: 20px;
  right: 80px;
  cursor: pointer;
  z-index: 1000;
  display: flex;
  transition: all 0.5s ease 0s;
}

[data-theme="dark"] .darkmode-button {
  border: 3px solid white;
  border-radius: 50%;
}

.darkmode-button:hover {
  transform: scale(1.2);
}

.container-header {
  text-align: center;
  width: 20em;
  height: 10rem;
  position: relative;
  margin-left: auto;
  margin-right: auto;
  padding-top: 50px;
}

.container-header a {
  transition: all 0.5s ease 0s;
}

.container-header a:hover {
  transform: scale(1.2);
}

.error-container {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  justify-content: center;
  margin-top: 300px;
}

.errorPage-text {
  font-size: 40px;
  color: white;
  margin-top: 60px;
  margin-bottom: 60px;
}

ul {
  padding: 0 !important;
}

.app-logo {
  transition: all 0.5s ease 0s; /* Apply smooth transition effect */
}

.app-logo:hover {
  transform: scale(1.2); /* Increase size on hover */
}

.scout-photo{
  transition: all 0.5s ease 0s; /* Apply smooth transition effect */
}

.scout-photo:hover{
  transform: scale(1.2);
}

.widget-box {
  padding: 30px 0;
  margin: auto;
  display: flex;
}

.widget {
  height: 43.5rem;
  display: flex;
  margin-top: 1.7rem;
}

.widget2 {
  height: 10rem;
}

[data-theme="light"] .widget,
[data-theme="light"] .widget2,
[data-theme="light"] .widget3,
[data-theme="light"] .widget4,
[data-theme="light"] .widget5,
[data-theme="light"] .widget6,
[data-theme="light"] .widget7,
[data-theme="light"] .widget8,
[data-theme="light"] .widget9,
[data-theme="light"] .widget10,
[data-theme="light"] .widget11,
[data-theme="light"] .widget12 {
  background-color: aliceblue;
  border: 5px solid black;
}

[data-theme="dark"] .widget,
[data-theme="dark"] .widget2,
[data-theme="dark"] .widget3,
[data-theme="dark"] .widget4,
[data-theme="dark"] .widget5,
[data-theme="dark"] .widget6,
[data-theme="dark"] .widget7,
[data-theme="dark"] .widget8,
[data-theme="dark"] .widget9,
[data-theme="dark"] .widget10,
[data-theme="dark"] .widget11,
[data-theme="dark"] .widget12 {
  background-color: #1d1b1c;
  border: 5px solid white;
}

.widget3 {
  height: 51.6rem;

  display: flex;
}

.widget4 {
  height: 28.5rem;

  display: flex;
}

.widget5 {
  height: 39.9rem;

  display: flex;
  margin-top: 1.7rem;
}

.widget6 {
  height: 21.4rem;

  margin-top: 1.7rem;
  display: flex;
}

.widget7 {
  height: 17rem;

  margin-top: 1.7rem;
  display: flex;
}

.widget8 {
  height: 24.75rem;
  margin-top: 1.7rem;
  display: flex;
}

.widget9 {
  height: 18rem;
  margin-top: 1.7rem;
}

.widget10 {
  height: 43.5rem;
  display: flex;
  margin-top: 1.7rem;
}

.widget11 {
  height: 43.5rem;
  display: flex;
  margin-top: 1.7rem;
}

.widget12 {
  height: 18rem;
  margin-top: 1.7rem;
}

.transfers-title {
  text-align: center;
  padding-top: 4px;
  background-image: linear-gradient(
    to right,
    rgb(0, 255, 135),
    rgb(2, 239, 255)
  );
  background-clip: text;
  font-weight: bold;
  -webkit-text-fill-color: transparent;
}

td {
  padding: 0.4rem;
}

.widget,
.widget2,
.widget3,
.widget4,
.widget5,
.widget6,
.widget7,
.widget8,
.widget9,
.widget10,
.widget11,
.widget12 {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.5);
  border: 5px solid black;
  border-radius: 8px;
}

.graphic-container {
  background: black;
  height: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.pricechanges-container,
.transfers-container,
.realplayers-container,
.captaincy-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: black;
}


.graphic-container-deadline {
  background: black;
  height: 40px;
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.footer {
  margin-top: 5rem;
  background-color: aliceblue;
  left: 0;
  bottom: 0;
  padding: 3.5rem 4rem;
  width: 100%;
  text-align: center;
  display: "flex"; 
  /* flex-direction: column; */
}

.social-media-icons {
  padding: 2rem;
}

.fa-youtube,
.fa-twitter,
.fa-instagram {
  display: var(--fa-display, inline-block);
  padding: 20px;
  margin-left: 20px;
  color: white;
  background-color: black;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  overflow: visible;
  vertical-align: -0.125em;
  transition: all 0.5s ease 0s;
}

.fa-copyright{
  height: 16px;
  width: 16px;
  margin-left: 3px;
  border-radius: 50%;
  overflow: visible;
  vertical-align: -0.125em;
  display: var(--fa-display, inline-block);
}

/* .fa-futbol{
  height: 14px;
  width: 14px;
  margin-left: 3px;
  overflow: visible;
  vertical-align: -0.125em;
  display: var(--fa-display, inline-block);
} */

/* .fa-a{
  height: 14px;
  width: 14px;
  margin-left: 3px;
  overflow: visible;
  vertical-align: -0.125em;
  display: var(--fa-display, inline-block);
  color: red;
} */

.away-icon-assists, .away-icon-goals, .home-icon-goals, .home-icon-assists{
  height: 14px;
  width: 14px;
  overflow: visible;
  vertical-align: -0.125em;
  display: var(--fa-display, inline-block);
}

.away-icon-assists, .home-icon-assists{
  color: red;
}

.away-icon-goals, .away-icon-assists{
  margin-right: 3px;
}

.home-icon-goals, .home-icon-assists{
  margin-left: 3px;
}

.realplayers-container td{
  padding: 5px;
}

/* .svg-inline--fa:hover{
background-color: #F2055C;
transform: scale(1.2);
} */

.fa-youtube:hover,
.fa-twitter:hover,
.fa-instagram:hover {
  background-color: #f2055c;
  transform: scale(1.2);
}

.trademark {
  float: left;
  font-size: 0.7rem;
  color: black;
}

.courtesy-text {
  font-size: 12px;
  color: black;
  margin-top: 5px;
  text-align: center;
}

.courtesy-link {
  color: #f2055c;
}

.andre-link {
  color: #f2055c;
}

@media (min-width: 1000px) {
  .container {
    max-width: 1720px !important;
  }
}

@media (min-width: 350px) and (max-width: 800px) {
  .container {
    width: 95% !important;
  }
}

@media (min-width: 1200px) {
  .col-lg-4 {
    flex: 0 0 auto;
    width: 30% !important;
  }
}

@media (min-width: 1200px) {
  .col-lg-3 {
    width: 28.3% !important;
  }
}

/*Scrollbar CSS

/* width */
::-webkit-scrollbar {
  width: 7px;
}

/* Track */
::-webkit-scrollbar-track {
  border-radius: 1px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: darkgray;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #f2055c;
}

.deadline-date {
  font-size: 1.5rem;
  text-align: center;
  margin-top: 5px;
  background-image: linear-gradient(
    to right,
    rgb(0, 255, 135),
    rgb(2, 239, 255)
  );
  height: 35px;
  width: 100%;
  padding: 3px;
  font-weight: inherit;
  color: black;
}

.deadline-date-time {
  font-size: 1.5rem;
  text-align: center;
  padding-top: 6px;
  /* margin-top: 5px; */
}

[data-theme="light"] .deadline-date-time {
  color: black;
}

[data-theme="dark"] .deadline-date-time,
[data-theme="dark"] .player-info,
[data-theme="dark"] .fixture-item,
[data-theme="dark"] .transfers-table-captaincy,
[data-theme="dark"] .pricechanges-container,
[data-theme="dark"] .news-info,
[data-theme="dark"] .twat-text,
[data-theme="dark"] .twat-text-link,
[data-theme="dark"] .transfers-table-realplayers,
[data-theme="dark"] .trademark,
[data-theme="dark"] .courtesy-text,
[data-theme="dark"] .realplayer2-name-box,
[data-theme="dark"] .transfers-table-realplayers2 {
  color: white;
}

[data-theme="dark"] .footer {
  background-color: darkgrey;
}

[data-theme="dark"] .fa-twitter,
[data-theme="dark"] .fa-youtube,
[data-theme="dark"] .fa-instagram {
  background-color: white;
  color: black;
}

.transfers-container {
  text-align: center;
}
.topten-list {
  color: black;
  list-style: none;
  padding-top: 7px;
}
.playerin {
  margin-left: 30px;
}
.playername {
  margin-left: 30px;
}

.table-row {
  border-bottom: 1px solid rgba(55, 0, 60, 0.08);
}
.transfers-table {
  margin-top: 25px;
  width: 100%;
  overflow-y: auto;
}

.transfers-table-playerchanges {
  font-size: 0.66rem;
}

.transfers-table-captaincy {
  margin-top: 20px;
  width: 100%;
  font-size: 1rem;
  color: black;
}

.player-info,
.transfer-header,
.transfers-table {
  /* border: 2px solid #05F26C; */
  font-size: 12px;
  color: black;
}

.transfers-table td {
  padding: 0.4rem 0.4rem 0;
}

.injuries-table td {
  padding: 0.4rem 0.4rem 0;
}

.player-photo {
  height: 75px;
  width: 60px;
}

.player-transfer-info-box {
  margin-top: 5px;
  /* font-family: PremierSans-Regular, Arial, "Helvetica Neue", Helvetica, "sans-serif"; */
  font-weight: 400;
  font-style: italic;
  font-size: 0.75rem;
}

.transfers-team-box {
  margin-left: 7px;
}

.transfer-header {
  font-size: 0.55rem;
  padding: 0.2rem 0.3rem;
  color: rgb(122, 122, 122);
  text-align: left;
  border-bottom: 1px solid rgba(55, 0, 60, 0.08);
}

.transfer-header-realplayers2 {
  font-size: 0.55rem;
  padding: 0.2rem 0.3rem;
  color: rgb(122, 122, 122);
  text-align: left;
  border-bottom: 1px solid rgba(55, 0, 60, 0.08);
}

.player-info-captaincy {
  font-size: 0.95rem;
}

.captaincy-button,
.transfers-button {
  width: 100px;
  height: 30px;
  font-size: 0.8rem;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 3px 3px -2px, rgba(0, 0, 0, 0.16) 0px 1px 8px 0px;
  background: transparent;
  border-radius: 3px;
  background-color: white;
  font-weight: inherit;
  border: none;
  color: #340040;
  transition: all 0.5s ease 0s;
}

.selected {
  background-color: #f2055c;
  color: white;
}

.transfers-button {
  margin-top: 15px;
}

.captaincy-button {
  margin-top: 5px;
}

.captaincy-button:hover,
.transfers-button:hover {
  background-color: #f2055c;
  color: white;
}

.fixture-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
}

.fixture-ul-list {
  list-style: initial;
  margin: 0px 0px 2rem;
  /* font-size: 1rem; */
  list-style: none;
  width: 100%;
}

.fixture-item {
  border-bottom: 1px solid rgba(55, 0, 60, 0.08);
  color: black;
}

.fixture-home-box {
  position: relative;
}

.fixture-inner-box {
  display: flex;
  margin: 0.6rem 0px;
  -webkit-box-align: center;
  align-items: center;
}

.home-box {
  display: flex;
  align-items: center;
  flex: 1 1 calc(50% - 2.3rem);
  justify-content: right;
}

.home-text {
  font-size: 1rem;
  vertical-align: middle;
}

.home-image-box {
  width: 20px;
  margin-right: 10px;
  margin-left: 10px;
}

.home-image {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: auto;
}

.away-box {
  display: flex;
  align-items: center;
  flex: 1 1 calc(50% - 1.5rem);
}

.fixture-date-box {
  text-align: center;
}

.fixture-date {
  font-size: 1rem;
  padding: 5px;
  background-image: linear-gradient(
    to right,
    rgb(0, 255, 135),
    rgb(2, 239, 255)
  );
  width: 100%;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: inherit;
  color: black;
}

.away-image-box {
  width: 20px;
  margin-right: 30px;
}

.away-image {
  display: block;
  margin: 0 auto;
  width: 40px;
  height: auto;
}

.away-text {
  font-size: 1rem;
  vertical-align: middle;
}

.score-box {
  display: inline-block;
  flex: 1 0 3.6rem;
  line-height: 1.1;
  text-align: center;
  font-size: 0.9rem;
  margin-left: 10px;
  /* margin-top: 22px; */
}

.time-box {
  display: inline-block;
  flex: 1 0 3.6rem;
  line-height: 1.1;
  text-align: center;
  font-size: 0.8rem;
  margin-left: 10px;
}

.bonus-box {
  margin-left: 30px;
  /* width: 8rem; */
}
.bonus-list {
  list-style: none;
  font-size: 12px;
}

.scorers-list {
  list-style: none;
  font-size: 12px;
}

.scorers-box-home{
  margin-right: 42px;
}

.scorers-box-away{
  margin-left: 42px;
}
.upcomingfixture-ul-list {
  margin: 0px 0px 2rem;
  font-size: 0.7rem;
  list-style: none;
  overflow-y: auto;
  overflow-x: hidden;
  width: 100%;
}

.upcomingfixture-home-box {
  position: relative;
}

.upcomingfixture-inner-box {
  display: flex;
  margin: 0.6rem 0px;
  -webkit-box-align: center;
  align-items: center;
}

.upcomingfixture-home-text,
.upcomingfixture-away-text {
  font-size: 0.8rem;
  vertical-align: middle;
}

.home-box-2 {
  display: flex;
  align-items: center;
  flex: 1 1 calc(50% - 5rem);
  justify-content: right;
}

.away-box-2 {
  display: flex;
  align-items: center;
  flex: 1 1 calc(50% - 2.2rem);
}

.upcomingfixture-home-image-box,
.upcomingfixture-away-image-box {
  margin-right: 10px;
  margin-left: 10px;
}

.upcomingfixture-date-box {
  text-align: center;
  /* border-top: 1px solid rgba(55, 0, 60, 0.08);  */
}

.upcomingfixture-date {
  font-size: 0.9rem;
  align-items: center;
  padding: 5px;
  background-image: linear-gradient(
    to right,
    rgb(0, 255, 135),
    rgb(2, 239, 255)
  );
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  margin-top: 5px;
  font-weight: inherit;
  /* border-bottom-right-radius: 10px;
  border-bottom-left-radius: 10px; */
}

/* .twat-description{
font-size: 1rem;
margin-top: 10px;
margin-bottom: 10px;
font-weight: inherit;
text-align: center;
} */
.twat-box {
  margin-top: 25px;
}

.twat-text {
  text-align: center;
  color: black;
  font-size: 1.3rem;
}

.twat-text-link {
  color: black;
  text-align: center;
  font-size: 1.3rem;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.twat-text-link:hover {
  color: #f2055c;
}

.transfers-table-realplayers {
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
  color: black;
}

.transfers-table-realplayers2 {
  margin-top: 20px;
  width: 100%;
  font-size: 12px;
  color: black;
}

.realplayers-transfer-list {
  font-size: 12px;
  list-style: none;
  padding-left: 0px;
  padding-top: 5px;
}

.realplayers2-transfer-list {
  list-style: none;
}

.realplayers-greenarrow {
  width: 13px;
  margin-left: 2px;
  margin-right: 2px;
}

.realplayers2-greenarrow {
  width: 13px;
  margin-left: 2px;
  margin-right: 2px;
}

.fa-arrow-right {
  display: var(--fa-display, inline-block);
  padding: 7px;
  color: white;
  background-color: black;
  height: 18px;
  width: 18px;
  border-radius: 50%;
  overflow: visible;
  vertical-align: -0.125em;
  transition: all 0.5s ease 0s;
}

.fa-arrow-right:hover {
  background-color: #f2055c;
  transform: scale(1.2);
}

.fa-arrows-rotate {
  display: var(--fa-display, inline-block);
  padding: 20px;
  color: black;
  background-color: white;
  height: 22px !important;
  width: 22px;
  border-radius: 50%;
  overflow: visible;
  vertical-align: -0.125em;
  transition: all 0.5s ease 0s;
  cursor: pointer;
}

ul {
  padding-left: 0;
}

.outer-container {
  width: 220px; /* Set the width of the outer container */
  height: 220px; /* Set the height of the outer container */
  padding: 20px;
  margin-left: auto;
  margin-right: auto; /* Add padding to make the outer container slightly bigger */
}

.outer-container-youtube {
  width: 420px; /* Set the width of the outer container */
  height: 200px; /* Set the height of the outer container */
  padding: 20px;
  margin-left: auto;
  margin-right: auto; /* Add padding to make the outer container slightly bigger */
  margin-top: 10px;
}

.inner-container {
  width: 100%;
  height: 100%;
}

.image-container {
  width: 100%;
  height: 100%;
  background-image: url("../public/images/kits.png");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
  cursor: pointer;
}

.image-container-youtube {
  width: 100%;
  height: 100%;
  background-image: url("../public/images/fplyoutube.png");
  background-size: cover;
  background-position: center;
  transition: background-image 0.3s ease;
  cursor: pointer;
  border: 3px solid white;
  border-radius: 8px;
  transition: all 0.3s ease 0s;
}

.outer-container:hover .image-container {
  background-image: url("../public/images/kits2.png");
}

.image-container-youtube:hover {
  border: 3px solid #f2055c;
  border-radius: 8px; /* Add a red border when hovered */
}

.select {
  height: 40px;
  margin-top: 20px;
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 3px 4px 0px,
    rgba(0, 0, 0, 0.08) 0px 3px 3px -2px, rgba(0, 0, 0, 0.16) 0px 1px 8px 0px;
  cursor: pointer;
  border: none;
  color: black;
  font-weight: bold;
  padding: 10px;
  font-size: 14px;
  /* transition: all 0.5s ease 0s; */
}

.select option {
  color: black;
  height: 150px;
}

.injury-select {
  width: 150px;
}

.expected-select {
  width: 200px;
}

.statistics-select {
  width: 180px;
}

.statistics-select-teams {
  width: 150px;
  margin-right: 20px;
}

.expected-select-teams {
  width: 170px;
  margin-right: 20px;
}

.minutes {
  font-size: 12px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  color: red;
}

.error-message {
  color: black;
  font-size: 2.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.error-message-captaincy {
  color: black;
  font-size: 2rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.error-message-twat {
  color: black;
  font-size: 1.5rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.error-message-gameweek {
  color: black;
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.error-message-upcoming {
  color: black;
  font-size: 1.6rem;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: auto;
  margin-bottom: auto;
}

.error-logo {
  /* height: 5.5rem; */
  pointer-events: none;
  margin-right: 5px;
}

@media (max-width: 1999px) {
  .transfers-title {
    font-size: 25px;
  }
  .news-info {
    font-size: 12px;
  }
  .home-text,
  .away-text {
    font-size: 0.8rem;
  }
  .upcomingfixture-score-box {
    padding: 10px;
  }
  .home-box-2 {
    flex: 1 1 calc(60% - 5rem);
  }
}

@media (max-width: 1550px) {
  .error-message-captaincy {
    font-size: 1.3rem;
  }
}

@media (max-width: 1500px) {
  .outer-container-youtube {
    width: 350px;
    height: 150px;
    margin-top: 30px;
  }
}

@media (max-width: 1400px) {
  .error-message {
    font-size: 2rem;
  }
  .transfers-title {
    font-size: 23px;
  }
  .expected-select-teams,
  .expected-select {
    width: 150px;
  }
  .expected-select-teams {
    margin-right: 10px;
  }
  .select {
    font-size: 12px;
  }
  .statistics-select-teams,
  .statistics-select {
    width: 150px;
  }
  .statistics-select-teams {
    margin-right: 10px;
  }
  .outer-container-youtube {
    width: 320px;
    height: 155px;
    margin-top: 30px;
  }
  .home-text,
  .away-text,
  .score-box {
    font-size: 0.67rem;
  }
  .bonus-list {
    font-size: 0.55rem;
  }
  .bonus-box {
    margin-left: 10px;
  }
  .fixture-date {
    font-size: 0.8rem;
  }
  .upcomingfixture-home-image-box {
    margin-left: 5px;
    margin-right: 5px;
  }
  .upcomingfixture-away-image-box {
    margin-left: 5px;
    margin-right: 5px;
  }
  .upcomingfixture-ul-list {
    padding: 0;
    margin: 0px 20px 2rem;
  }
  .upcomingfixture-home-text,
  .upcomingfixture-away-text {
    font-size: 0.55rem;
  }
  .upcomingfixture-score-box {
    padding: 5px;
  }
  .home-box-2 {
    flex: 1 1 calc(50% - 5rem);
  }
  .deadline-date-time {
    font-size: 1.3rem;
  }
  .deadline-date {
    font-size: 1.3rem;
  }
  .upcomingfixture-date {
    font-size: 0.8rem;
  }
}

@media (max-width: 1290px) {
  .transfers-table-playerchanges {
    font-size: 0.55rem;
  }
  .greenarrowup,
  .redarrowdown {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 1200px) {
  .error-message {
    font-size: 1.5rem;
  }
  .error-message-gameweek {
    font-size: 1.3rem;
  }
  .transfers-title {
    font-size: 20px;
  }
  .expected-select-teams,
  .expected-select {
    width: 120px;
  }
  .expected-select-teams {
    margin-right: 10px;
  }
  .select {
    font-size: 12px;
  }
  .statistics-select-teams,
  .statistics-select {
    width: 95px;
  }
  .statistics-select-teams {
    margin-right: 10px;
  }
  .outer-container-youtube {
    width: 300px;
    height: 150px;
    margin-top: 30px;
  }
  .news-info {
    font-size: 10px;
  }
  .player-photo {
    height: 65px;
    width: 50px;
  }
  .home-text,
  .away-text,
  .score-box {
    font-size: 0.7rem;
  }
  .score-box {
    flex: 1 0 2.7rem;
    margin: 0px;
  }
  .home-image,
  .away-image {
    height: 30px;
    width: 30px;
  }
  .home-image-box {
    margin-left: 5px;
  }
  .away-image-box {
    margin-right: 15px;
  }
  .greenarrowup,
  .redarrowdown {
    width: 10px;
    height: 10px;
  }
  .transfers-table-playerchanges .transfer-header {
    font-size: 0.44rem;
  }
  .arrow-box {
    padding-left: 2px !important;
  }
  .upcomingfixture-ul-list {
    padding: 0;
    margin: 0px 20px 2rem;
  }
  .upcomingfixture-home-text,
  .upcomingfixture-away-text {
    font-size: 0.55rem;
  }
  .upcomingfixture-score-box {
    padding: 5px;
  }
  .transfers-button {
    width: 80px;
    height: 20px;
  }
  .captaincy-button {
    width: 85px;
    height: 25px;
  }
  .realplayers-transfer-list,
  .realplayer-name-box,
  .transfers-table-realplayers {
    font-size: 9px;
  }
  .realplayers-greenarrow {
    width: 10px;
  }
  .fa-arrow-right {
    width: 12px;
    height: 12px;
  }
}

@media (max-width: 998px) {
  .widget3,
  .widget4 {
    margin-top: 1.7rem;
  }
  .container-header {
    height: 8rem;
  }
}

@media (max-width: 992px) {
  .error-message {
    font-size: 2.2rem;
  }
  .widget10,
  .widget11,
  .widget2 {
    margin-top: 25px;
  }
  .transfers-title {
    font-size: 20px;
  }
  .expected-select-teams,
  .expected-select {
    width: 170px;
  }
  .expected-select-teams {
    margin-right: 20px;
  }
  .select {
    font-size: 13px;
  }
  .statistics-select-teams,
  .statistics-select {
    width: 200px;
  }
  .outer-container-youtube {
    width: 420px;
    height: 200px;
    margin-top: 20px;
  }
  .news-info {
    font-size: 12px;
  }
  .home-text,
  .away-text,
  .score-box {
    font-size: 0.8rem;
  }
  .bonus-list {
    font-size: 0.75rem;
  }
  .home-image-box {
    margin-right: 15px;
    margin-left: 10px;
  }
  .away-image-box {
    margin-right: 17px;
    margin-left: 5px;
  }
  .time-box {
    margin-left: -3px;
  }
  .transfers-table-playerchanges {
    font-size: 0.7rem;
  }
  .greenarrowup,
  .redarrowdown {
    width: 15px;
    height: 15px;
  }
  .transfers-table-playerchanges .transfer-header {
    font-size: 0.55rem;
  }
  .arrow-box {
    padding-left: 5px !important;
  }
  .upcomingfixture-home-text,
  .upcomingfixture-away-text {
    font-size: 0.8rem;
  }
  .upcomingfixture-score-box {
    padding: 10px;
  }
  .home-box-2 {
    flex: 1 1 calc(50% - 5rem);
  }
  .deadline-date {
    font-size: 1.5rem;
  }
  .realplayers2-kits {
    width: 32px;
    height: 40px;
  }
  .realplayer2-name-box,
  .realplayers2-transfer-list {
    font-size: 16px;
  }
  .transfer-header-realplayers2 {
    font-size: 12px;
  }
  .transfers-table-realplayers2 {
    font-size: 16px;
  }
  .home-image, .away-image{
    width: 35px;
    height: 35px;
  }
  .away-box {
    flex: 1 1 calc(50% - 2rem);
  }
  .home-box {
    flex: 1 1 calc(50% - 2rem);
  }
  .bonus-title{
    font-size: 14px;
  }
  .bonus-box {
    margin-left: 60px;
  }
  .scorers-box-home{
    margin-right: 40px;
  }
  .scorers-box-away{
    margin-left: 40px;
  }
}

@media (max-width: 768px) {
  .error-message {
    font-size: 2rem;
  }
  .transfers-title {
    font-size: 20px;
  }
  .home-text,
  .away-text,
  .score-box {
    font-size: 0.7rem;
  }
  .minutes {
    font-size: 10px;
  }
  .bonus-list {
    font-size: 0.6rem;
  }
  .away-image-box {
    margin-right: 15px;
  }
  .realplayers2-kits {
    width: 28px;
    height: 37px;
  }
  .realplayer2-name-box,
  .realplayers2-transfer-list {
    font-size: 12px;
  }
  .transfer-header-realplayers2 {
    font-size: 12px;
  }
  .transfers-table-realplayers2 {
    font-size: 12px;
  }
  .scorers-list{
    font-size: 12px;
  }
  .away-icon-assists, .away-icon-goals, .home-icon-assists, .home-icon-goals{
    width: 13px;
    height: 13px;
  }
  .scorers-box-home{
    margin-right: 40px;
  }
  .scorers-box-away{
    margin-left: 40px;
  }
  .away-box {
    flex: 1 1 calc(50% - 2rem);
  }
  .home-box {
    flex: 1 1 calc(50% - 2rem);
  }
  .bonus-title{
    font-size: 12px;
  }
  .bonus-box {
    margin-left: 50px;
  }
}

@media (max-width: 576px) {
  .error-message {
    font-size: 1.9rem;
  }
  .transfers-title {
    font-size: 20px;
  }
  .expected-select-teams,
  .expected-select {
    width: 150px;
  }
  .expected-select-teams {
    margin-right: 15px;
  }
  .select {
    font-size: 12px;
  }
  .statistics-select-teams,
  .statistics-select {
    width: 200px;
  }
  .score-box {
    flex: 1 0 1.5rem;
    margin: 0px;
  }
  .home-text,
  .away-text {
    font-size: 0.7rem;
  }
  .away-image-box {
    margin-right: 15px;
  }
  .realplayers2-kits {
    width: 27px;
    height: 34px;
  }
  .realplayer2-name-box,
  .realplayers2-transfer-list {
    font-size: 10px;
  }
  .transfer-header-realplayers2 {
    font-size: 10px;
  }
  .transfers-table-realplayers2 {
    font-size: 10px;
  }
  .scorers-list{
    font-size: 10px;
  }
  .away-icon-assists, .away-icon-goals, .home-icon-assists, .home-icon-goals{
    width: 12px;
    height: 12px;
  }
  .scorers-box-home{
    margin-right: 33px;
  }
  .scorers-box-away{
    margin-left: 33px;
  }
  .away-box {
    flex: 1 1 calc(50% - 2rem);
  }
  .home-box {
    flex: 1 1 calc(50% - 2rem);
  }
  .bonus-title{
    font-size: 12px;
  }
  .bonus-box {
    margin-left: 30px;
  }
}

@media (max-width: 480px) {
  .error-message {
    font-size: 1.6rem;
  }
  .error-message-captaincy {
    font-size: 1.6rem;
  }
  .fa-youtube,
  .fa-twitter,
  .fa-instagram {
    height: 15px;
    width: 15px;
    padding: 15px;
    margin-left: 15px;
  }
  .trademark {
    font-size: 0.6rem;
    float: none;
  }
  .expected-select-teams,
  .expected-select {
    width: 115px;
  }
  .expected-select-teams {
    margin-right: 7px;
  }
  .select {
    font-size: 11px;
  }
  .statistics-select-teams,
  .statistics-select {
    width: 150px;
  }
  .outer-container-youtube {
    width: 360px;
    height: 180px;
    margin-top: 30px;
  }
  .news-info {
    font-size: 10px;
  }
  .player-photo {
    height: 65px;
    width: 50px;
  }
  .home-text,
  .away-text,
  .score-box {
    font-size: 10px;
  }
  .minutes {
    font-size: 8px;
  }
  .bonus-list {
    font-size: 0.52rem;
  }
  .bonus-box {
    margin-left: 18px;
  }
  .score-box {
    flex: 1 0 1rem;
    margin: 0px;
  }
  .player-info {
    font-size: 9px;
  }
  .player-transfer-info-box {
    font-size: 8px;
  }
  .player-photo {
    height: 60px;
    width: 45px;
  }
  .time-box {
    font-size: 0.55rem;
    flex: 1 0 1rem;
    margin-left: 5px;
    margin-right: 3px;
  }
  .home-image,
  .away-image{
    width: 31px;
    height: 31px;
  }
  .away-box {
    flex: 1 1 calc(50% - 2rem);
  }
  .home-box {
    flex: 1 1 calc(50% - 2rem);
  }
  .home-image-box {
    margin-right: 10px;
    margin-left: 7px;
  }
  .away-image-box {
    margin-right: 15px;
    margin-left: 0px;
  }
  .realplayers-transfer-list,
  .realplayer-name-box {
    font-size: 10px;
  }
  .realplayers2-kits {
    width: 30px;
    height: 37px;
  }
  .realplayers-greenarrow {
    width: 10px;
  }
  .realplayers2-greenarrow {
    width: 8px;
  }
  .realplayers2-kits {
    width: 25px;
    height: 32px;
  }
  .realplayer2-name-box,
  .realplayers2-transfer-list {
    font-size: 7px;
  }
  .transfer-header-realplayers2 {
    font-size: 7px;
  }
  .transfers-table-realplayers2 {
    font-size: 7px;
  }
  .fa-arrow-right {
    width: 12px;
    height: 12px;
  }
  .fa-copyright{
    height: 12px;
    width: 12px;
  }
  .transfers-table-playerchanges {
    font-size: 0.55rem;
  }
  .scorers-list{
    font-size: 8px;
  }
  .away-icon-assists, .away-icon-goals, .home-icon-assists, .home-icon-goals{
    width: 10px;
    height: 10px;
  }
  .scorers-box-home{
    margin-right: 25px;
  }
  .scorers-box-away{
    margin-left: 25px;
  }
  .bonus-title{
    font-size: 10px;
  }
}

@media (max-width: 400px) {
  .expected-select-teams,
  .expected-select {
    width: 100px;
  }
  .expected-select-teams {
    margin-right: 5px;
  }
  .select {
    font-size: 10px;
  }
  .statistics-select-teams,
  .statistics-select {
    width: 120px;
  }
  .outer-container-youtube {
    width: 310px;
    height: 160px;
    margin-top: 30px;
  }
  td {
    padding: 0.4rem;
  }
  .fa-arrow-right {
    width: 10px;
    height: 10px;
  }
  .realplayers-transfer-list,
  .realplayer-name-box {
    font-size: 8px;
  }
  .realplayers2-kits {
    width: 25px;
    height: 32px;
  }
  .realplayer2-name-box,
  .realplayers2-transfer-list {
    font-size: 6px;
  }
  .upcomingfixture-home-text,
  .upcomingfixture-away-text {
    font-size: 0.6rem;
  }
  .transfers-table-playerchanges .transfer-header {
    font-size: 0.5rem;
  }
  .transfer-header-realplayers2 {
    font-size: 7px;
  }
  .transfers-table-realplayers2 {
    font-size: 6px;
  }
  /* .transfers-table-captaincy .transfer-header, .player-info-captaincy{
    padding-left: 50px !important;
  } */
  .greenarrowup,
  .redarrowdown {
    width: 13px;
    height: 13px;
  }
  .transfers-table-playerchanges {
    font-size: 0.55rem;
  }
  .player-photo {
    height: 50px;
    width: 40px;
  }
  .player-info {
    font-size: 8px;
  }
  .player-transfer-info-box {
    font-size: 7.5px;
  }
  .bonus-list {
    font-size: 7px;
  }
  .bonus-box {
    margin-left: 15px;
  }
  .home-text,
  .away-text,
  .score-box {
    font-size: 8px;
  }
  .away-image,
  .home-image {
    width: 25px;
    height: 25px;
  }
  .time-box {
    font-size: 0.5rem;
    flex: 1 0 2rem;
    margin-right: 2px;
  }
  .away-box {
    flex: 1 1 calc(50% - 2rem);
  }
  .home-box {
    flex: 1 1 calc(50% - 2rem);
  }
  .minutes {
    font-size: 8px;
  }
  .trademark {
    font-size: 0.6rem;
    float: none;
  }
  .fa-youtube,
  .fa-twitter,
  .fa-instagram {
    height: 13px;
    width: 13px;
    padding: 13px;
    margin-left: 13px;
  }
  .fa-copyright{
    height: 11px;
    width: 11px;
  }
  .error-message {
    font-size: 1.3rem;
  }
  .error-message-captaincy {
    font-size: 1.3rem;
  }
  .error-message-gameweek {
    font-size: 1.3rem;
  }
  .error-message-upcoming {
    font-size: 1.3rem;
  }
  .scorers-list{
    font-size: 8px;
  }
  .away-icon-assists, .away-icon-goals, .home-icon-assists, .home-icon-goals{
    width: 10px;
    height: 10px;
  }
  .scorers-box-home{
    margin-right: 25px;
  }
  .scorers-box-away{
    margin-left: 25px;
  }
  .bonus-title{
    font-size: 9px;
  }
}

@media screen and (max-width: 992px) {
  .row {
    display: flex;
    flex-direction: column;
    flex-flow: row wrap;
  }
  .col-lg-4 {
    order: 1;
  }
}
